{{input type="text" id="new-todo" placeholder="What do you need to get done?" value=newTitle action="createTodo"}}

<section id="main">
	<ul id="todo-list">
	{{#each}}
		<li {{bind-attr class="isCompleted:completed"}}> {{!-- add the class based on value --}}
			{{input type="checkbox" checked=isCompleted class="toggle"}} {{!-- input that updates value --}}
			<label>{{title}}</label><button class="destroy"></button>
		</li>
	{{/each}}
	</ul>

	<input type="checkbox" id="toggle-all">
</section>

<section id="footer">
	<span id="todo-count">
		<strong>2</strong> todos left
	</span>

	<ul id="filters">
		<li><a href="all" class="selected">All</a></li>
		<li><a href="active">Active</a></li>
		<li><a href="completed">Completed</a></li>
	</ul>

	<button id="clear-completed">
		Clear Completed (1)
	</button>
</section>